.title {
  margin-top: 65px;
  color: #414042;
}
.card {
  margin: 9px;
}

.modal-content {
  width: 900px;
  margin: auto;
  overflow: hidden;
}

.display {
  width: 100%;
}

.display img {
  max-width: 100%;
  max-height: 100%;
}
