body {
    font-family: 'Lato', sans-serif;
    line-height: 145%;
    max-width: 1350px;
    margin:22px auto;
}

.title {
    margin-bottom: 8px;
}

#description {
    color: rgba(0, 0, 0, 0.49);
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.flex-container div img {
    width: 325px;
    margin: 10px 15px;
}

.flex-container div img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img a {
    outline: none;
    border: 0;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
}

*:focus {
    outline: none;
    outline-width: 0;
    border: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    margin: 1em 0;
    padding: 0;
}

/* Nav */
.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: baseline;
}

.nav > div {
    align-self: flex-end;
}

#menu {
    margin-left: 22px;
    padding-bottom: 8px;
}

#menu a {
    color: rgba(0, 0, 0, 0.49);
}

#menu a:hover {
    color: rgba(0, 0, 0, 0.65);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* project detail page*/

.projectDescription .projectTitle-webpagespeed {
    color: rgb(255, 255, 255);
    background-color: rgb(208, 147, 164);
    padding-left: 2px;
    padding-bottom: 2px;
}

.projectDescription .projectTitle-mortgage {
    color: rgb(255, 255, 255);
    background-color: rgb(219, 192, 210);
    padding-left: 2px;
    padding-bottom: 2px;
}

.projectDescription .projectTitle-tomatoBlue {
    color: rgb(255, 255, 255);
    background-color: rgb(208, 195, 162);
    padding-left: 2px;
    padding-bottom: 2px;
}

.projectDescription .projectTitle-video2gif {
    color: rgb(255, 255, 255);
    background-color: rgb(221, 186, 194);
    padding-left: 2px;
    padding-bottom: 2px;
}

.projectDescription h4 {
    color: rgb(58, 58, 58);
}

.projectDescription h5, .projectDescription p {
    color: rgb(99, 99, 99);
    font-weight:normal;
}

.projectDescription h5 {
    padding-top: 15px;
}

.projectDescription img{
    max-width: 800px;
    width: 100%;
}

/* Scroll to top button*/
#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(70, 68, 70, 0.29);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    min-width: 45px;
    min-height: 45px;
}

/* about page*/
.about span{
    border: 1px solid #e6e6e6;
    padding: 8px 16px;
    border-radius: 2px;
    display: inline-block;
    margin: 4px 6px;
}

.about span, .about p {
    font-weight: normal;
    color: rgb(90, 89, 92);
}

.about > div {
    margin-top: 50px;
    margin-bottom: 70px;
}

.about {
    max-width: 800px;
    width: 80%;
}

/*Url link to external web pages*/
.externalLink {
    border-bottom: 1px solid #71bbff;
    color: #75d5fa;
}

.embed-container {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.embed-container iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 500px) {
    .flex-container div img {
        width: 300px;
    }
}

@media (min-width: 500px) and (max-width:600px ) {
    .flex-container div img {
        width: 400px;
    }
}

@media (min-width: 600px) and (max-width:1000px ) {
    .flex-container div img {
        width: 300px;
    }
}

@media (min-width: 1000px) and (max-width:1200px ) {
    .flex-container div img {
        width: 400px;
    }
}




